body {

}
div.popup {
    visibility: hidden;
    position: fixed;
    height:100%;
    width:100%;
    z-index: 990;
    opacity: 0.6;
    background-color: black;
    top: 0px;
    left: 0px;
}

input.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

#altInputSubmit {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    float:right;
    margin-right: 150px;
}

#closeButton{
    position: fixed;
    top: 10%;
    left: 85%;
    color: red;
    font-size: 2.5em;
    background-color: black;
    z-index: 991;
    
}

#lockScreen{
    visibility: hidden;
    position: fixed;
    height:100%;
    width:100%;
    z-index: 999;
    opacity: 0.9;
    background-color: black;
    top: 0px;
    left: 0px; 
}

#screenInfo{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -100px;
    color: red;
    font-size: 2.5em;
    border-width: 0.05em;
    border-color: white;
    border-style: inset; 
}

span.highlight{
    border: 1px black dotted;
}

div.highlight{
    border: 1px red dotted;
}

.xbtooltip {
      display: none;
      position: absolute;
      background-color: #fff;
    }